@import url("https://use.typekit.net/ulq8zpg.css");

@tailwind base;

:root {
  @apply bg-burntorange;
  @apply selection:bg-tangerineorange;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  @apply bg-burntorange;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}
a {
  @apply text-white;
}
a:hover {
  @apply underline;
}

ul.menu li a {
  @apply w-full;
  @apply !rounded-none;
  @apply font-eighteeneightythree;
  @apply hover:!no-underline;
  @apply gap-0;
  @apply transition-colors;
  @apply text-base;
  @apply cursor-pointer;
  @apply self-center;
  @apply whitespace-nowrap;
  @apply py-3;
  @apply px-4;
  @apply uppercase;
  @apply text-white;
  @apply lg:text-lg;
}

ul.menu li ul li a {
  @apply !rounded-none;
  @apply bg-white;
  @apply text-burntorange;
  @apply hover:bg-burntorange-dark;
  @apply hover:text-white;
  @apply capitalize;
  @apply lg:text-base;
}

ul.menu li ul li ul {
  @apply !rounded-none;
  @apply bg-white;
  @apply pl-0;
}

ul.menu li ul li ul li a {
  @apply py-2;
  @apply pl-6;
}

ul.menu li p {
  @apply text-charcoal;
  @apply bg-limestone-light;
  @apply p-3;
  @apply uppercase;
}

@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "1883 Sans Medium";
  src: url("/fonts/1883Sans-Medium.woff2");
}

@font-face {
  font-family: "1883 Sans Italics";
  src: url("/fonts/1883Sans-MediumItalic.woff2");
}

@font-face {
  font-family: "1883 Sans Bold";
  src: url("/fonts/1883Sans-Bold.woff2");
}

@font-face {
  font-family: "1883 Sans Black";
  src: url("/fonts/1883Sans-Black.woff2");
}
