---
import Layout from "../layouts/Layout.astro"
import PageContentHeader from "../components/page-content-header.astro"
---

<Layout title="404">
  <main class="bg-white text-charcoal">
    <PageContentHeader headline="404: Not Found" intro="Page does not exist" />
  </main>
</Layout>
