---
import Layout from "../layouts/Layout.astro"
import SeeYouThere from "../components/see-you-there.astro"
import MyKutxSection from "../components/my-kutx-section.astro"
import ExpertPanelSection from "../components/expert-panel-section.astro"
import BandsSection from "../components/bands-section.astro"
import SessionsSection from "../components/sessions-section.astro"
import LonghornBandSection from "../components/longhorn-band-section.astro"
---

<Layout title="Home">
  <main>
    <section class="mb-[-1.5px] block bg-burntorange pb-1 md:hidden">
      <div class="m-auto my-12 mx-1">
        <img class="m-auto md:order-2 md:col-span-6 xl:max-w-md" src="/images/tower.gif" alt="UT Tower" />
      </div>

      <div class="m-9 text-center font-eighteeneightythree text-2xl text-white">
        <p>UT at SXSW</p>
        <p>March 11, 2023</p>
        <p>10 a.m. — 9 p.m.</p>
        <p>Banger's on Rainey St.</p>
      </div>
    </section>

    <section class="hidden justify-center md:mb-[-1px] md:flex md:overflow-hidden">
      <script type="module" src="https://unpkg.com/@splinetool/viewer/build/spline-viewer.js"></script>
      <spline-viewer class="!h-fit !w-fit" url="https://prod.spline.design/eh4TRGCbw1YpdzxE/scene.splinecode"></spline-viewer>
    </section>
  </main>

  <section class="bg-white">
    <div class="relative pb-10">
      <img class="absolute w-full" src="/images/burntorange-wave.svg" alt="wave" />
      <div class="absolute -top-px h-[2px] w-full bg-burntorange"></div>
    </div>
    <div class="container pb-20 md:grid md:grid-cols-12 lg:w-4/5">
      <p class="mx-auto p-9 text-center font-eighteeneightythree text-2xl text-burntorange md:col-span-12 md:mt-9 md:w-4/5 md:text-3xl">As Austin's hub for tech and creativity, The University of Texas at Austin is leading the way in innovation. We're excited to show you how. With impactful panel sessions, a networking space, KUTX recordings, live music and a Burnt Orange Bash &mdash; we're bringing the Longhorn spirit to SXSW.</p>
      <p class="col-span-12 mt-4 text-center font-eighteeneightythreeitalics text-xl text-charcoal">
        Entry to this event is available to SXSW<br /> badge holders and invited guests.
      </p>
    </div>
  </section>

  <MyKutxSection />
  <ExpertPanelSection />
  <BandsSection />
  <LonghornBandSection />
  <SessionsSection />

  <SeeYouThere image="../images/sxsw-hookem.svg" date="March 11, 2023" time="10 a.m. — 9 p.m." headline="See You There!" blurb="#UTatSXSW" />
</Layout>
