---
import Layout from "../layouts/Layout.astro"
import NetworkingCard from "../components/networking-card.astro"
import Tabs from "../components/tabs.svelte"
---

<Layout title="Networking with UT Startups">
  <main class="bg-white">
    <section class="pt-12 pb-1">
      <div class="container mt-5 px-5 text-charcoal lg:w-4/5 lg:max-w-5xl lg:justify-items-center xl:w-3/5">
        <p class="mt-3 mb-9 font-eighteeneightythree text-2xl">Part of what puts UT on track to be the highest impact public university in the world is our faculty and student entrepreneurs. Their services and inventions cross almost every industry, and they are all raising capital or looking to build a team to bring their technologies to market. Get to know tomorrow’s game-changers today. And remember, you saw ’em here first.</p>
        <p class="mt-3 mb-9 font-eighteeneightythree text-2xl">Want to keep talking to a UT startup after SXSW? <a class="text-burntorange" href="mailto:businessdevelopment@discoveries.utexas.edu">Email us.</a> We can help.</p>
      </div>
    </section>

    <section class="container">
      <div class="tabs">
        <a class="tab-bordered tab tab-active">12 – 2:00 P.M.</a>
        <a class="tab-bordered tab">2 – 4:00 P.M.</a>
      </div>
    </section>

    <NetworkingCard startup="Faculty Startup" name="Celadyne Technologies" link="https://www.celadynetech.com/" blurb="Accelerating industrial decarbonization with durable fuel cells and cheap green hydrogen. We solve the 50-year-old materials problem to unlock the potential of hydrogen." />

    <NetworkingCard startup="Faculty Startup" name="ClioVis" link="https://cliovis.com/" blurb="ClioVis is mind-mapping, timeline, and presentation software ideally suited for understanding and illustrating change over time." />

    <NetworkingCard startup="Faculty Startup" name="La Luce Cristallina" link="https://lalucecristallina.com/" blurb="Providing the next generation of high-performance photonic wafers for wholesale, R&D, and prototyping for consumer and defense applications." />

    <NetworkingCard startup="Faculty Startup" name="Lantha Sensors" link="https://www.lanthasensors.com/" blurb="Chemical analysis company bringing portable, cost-effective platforms to market, enabling rapid, reliable and accurate field-based testing." />

    <NetworkingCard startup="Faculty Startup" name="Multi AI" link="https://www.multi.ai/" blurb="Provides next-generation AI for large volumes of vehicles, such as drones, satellites, and ground vehicles, to operate fully autonomously." />

    <NetworkingCard startup="Faculty Startup" name="Pike Robotics" link="https://www.pikerobotics.com/" blurb="Pike Robotics makes inspections of oil & gas storage tanks safer, more accurate, and less costly, helping to reduce greenhouse gas emissions." />

    <NetworkingCard startup="Faculty Startup" name="TAU Systems" link="https://www.tausystems.com/" blurb="Compact, room-sized particle accelerators and x-ray lasers for semi-conductors, material science and rational drug design / life sciences." />

    <NetworkingCard startup="Student Startup" name="hifive" link="http://hifivecommunity.com/" blurb="Enabling service employees to earn recognition and contactless tips." />

    <NetworkingCard startup="Student Startup" name="Paradigm Robotics" link="https://www.thefirebot.com/" blurb="Paradigm Robotics is developing the next generation of advanced and accessible robotic solutions to mitigate risks and solve problems for firefighters and civil workers in dangerous environments." />

    <NetworkingCard startup="Student Startup" name="STEM Muse" link="https://www.stemmuse.com/" blurb="STEM Muse is the STEM mentorship network for women. We’re patching the leaky pipeline by connecting women in STEM higher education— undergraduate students, graduate students, postdoctoral associates, and research staff — with professionals more advanced in their academic and industry careers. Our mission is to increase the recruitment, retention, and ultimately, the success of women in STEM." />
  </main>
</Layout>
