---
import Layout from "../layouts/Layout.astro"
import PageContentHeader from "../components/page-content-header.astro"
---

<Layout title="Sessions">
  <main class="bg-white text-charcoal">
    <PageContentHeader headline="UT SXSW Sessions" intro="March 10—19, 2023" blurb="UT Austin faculty, students, alumni and staff are presenting on panels and sessions throughout the SXSW festival. Sessions listed here include individuals with a connection to UT Austin." />

    <section class="py-12">
      <div class="container">Sessions goes here</div>
    </section>
  </main>
</Layout>
