---
import { Icon } from "astro-icon"
---

<section class="bg-limestone-light bg-c2 bg-cover bg-center bg-no-repeat opacity-95">
  <div class="container grid w-4/5 grid-cols-12 lg:max-w-5xl lg:justify-items-center">
    <div class="col-span-12 mt-16 mb-6 items-start bg-white p-0 md:grid md:grid-cols-12 md:items-center">
      <div class="md:order-2 md:col-span-6">
        <img src="../images/utsxsw-networking.png" alt="Networking" />
      </div>
      <div class="order-2 place-self-center p-8 font-eighteeneightythree md:col-span-6">
        <p class="mt-3 mb-3 font-eighteeneightythreeblack text-2xl text-burntorange md:text-3xl lg:text-4xl">Networking</p>
        <p class="text-xl text-ut-charcoal--s40">Investors and entrepreneurs are invited to our dedicated networking space inside the Texas Speakeasy at Banger’s. Attendees will have the opportunity to build connections with UT faculty and student startups and participate in an immersive experience with prizes, including a one-of-kind craft cocktail.</p>
        <a href="/networking" class="burntorange mt-3 block cursor-pointer self-center border-2 border-solid bg-white py-1 px-4 text-center font-eighteeneightythree uppercase text-burntorange transition-colors hover:border-burntorange-dark hover:bg-burntorange-dark hover:text-white hover:no-underline md:w-1/2 md:px-1">
          Details<Icon class="mb-1 inline h-8 w-8 fill-current" name="mdi:chevron-right" />
        </a>
      </div>
    </div>
  </div>
  <div class="container grid w-4/5 grid-cols-12 lg:max-w-5xl lg:justify-items-center">
    <div class="col-span-12 mt-6 mb-16 items-start bg-white p-0 md:grid md:grid-cols-12 md:items-center">
      <div class="md:order-2 md:col-span-6">
        <img src="../images/utsxsw-longhorn-band-live.jpg" alt="Longhorn Band and More" />
      </div>
      <div class="order-1 place-self-center p-8 font-eighteeneightythree md:col-span-6">
        <p class="mt-3 mb-6 font-eighteeneightythreeblack text-2xl text-burntorange md:text-3xl lg:text-4xl">Longhorn Band and More</p>
        <p class="text-xl text-ut-charcoal--s40">Throughout the day, guests can check out our screen-printing shop, snag a picture with the Longhorn Lamborghini, and enjoy an exuberant performance by the Longhorn Band.</p>
      </div>
    </div>
  </div>
</section>
