---
import { Icon } from "astro-icon"
---

<section class="bg-limestone-light bg-c3 bg-cover bg-center bg-no-repeat opacity-95">
  <div class="bg-limestone-light">
    <div class="container md:grid md:w-4/5 md:grid-cols-12 md:py-10 lg:w-3/5 lg:max-w-5xl">
      <div class="flex flex-wrap content-center py-4 px-5 md:col-span-6">
        <h3 class="font-enzo text-4xl uppercase text-utorange md:text-5xl">My KUTX</h3>
        <p class="mt-4 font-eighteeneightythree text-2xl text-ut-charcoal--s40">KUTX will play music to kick off an exciting day and interview a very special guest...</p>
      </div>
      <img class="m-auto md:col-span-6 md:w-[35vw] lg:w-[25vw]" src="../images/bevo.gif" alt="Bevo nodding" />
    </div>
  </div>

  <div class="container grid w-4/5 grid-cols-12 lg:max-w-5xl lg:justify-items-center">
    <div class="col-span-12 my-16 items-start bg-white p-0 md:grid md:grid-cols-12 md:items-center">
      <div class="md:order-2 md:col-span-6">
        <img loading="lazy" src="../images/people/ut-sxsw-tim-league-l.jpg" alt="My KUTX" />
      </div>
      <div class="order-2 place-self-center p-8 font-eighteeneightythree md:col-span-6">
        <p class="font-eighteeneightythreebold text-xl text-charcoal">10 – 11 a.m.</p>
        <p class="my-1 font-eighteeneightythreeblack text-2xl text-burntorange md:text-3xl lg:text-4xl">My KUTX</p>
        <p class="my-3 text-xl text-ut-charcoal--s40">Conversation with Tim League, Alamo Drafthouse Cinema Founder and Executive Chairman</p>
        <div class="">
          <a href="/my-kutx" class="burntorange mt-3 block cursor-pointer self-center border-2 border-solid bg-white py-1 px-4 text-center font-eighteeneightythree uppercase text-burntorange transition-colors hover:border-burntorange-dark hover:bg-burntorange-dark hover:text-white hover:no-underline md:w-1/2 md:px-1">
            Details<Icon class="mb-1 inline h-8 w-8 fill-current" name="mdi:chevron-right" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
