---
import Navi from "../components/navi";
---

<header class="sticky top-0 bg-burntorange z-50">
  <nav class="container mx-auto navbar grid md:grid-flow-col">
    <div class="mx-auto lg:ml-14">
        <a href="/" class="w-96 md:w-48 lg:w-64"><img alt="UT at SXSW" class="w-100 py-4" src="/images/ut-brand-primary.svg" /></a>
    </div>
    
    <div class="grid"><Navi client:idle /></div>
  </nav>
</header>