---

---

<header class="sticky top-0 bg-burntorange z-50">
  <nav class="container mx-auto navbar grid md:grid-flow-col">
    <div class="mx-auto lg:ml-14">
        <a href="/" class="w-96 md:w-48 lg:w-64"><img alt="UT at SXSW" class="w-100 py-4" src="/images/ut-brand-primary.svg" /></a>
    </div>
    <div class="mx-auto">
      <ul class="menu menu-horizontal px-1 text-white md:gap-11">
        <li tabindex="0" class="group">
          <a class="group-hover:bg-burntorange-dark">March 11 Event<svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
          </a>
          <ul>
            <p>
              Saturday, March 11, 2023
            </p>
            <ul>
              <li>
                <a href="/my-kutx">
                My KUTX Live<svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 320 512"><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>
              </a>
              </li>
              <p class="!capitalize !py-0 !bg-white">UT Expert Panel Sessions:</p>
              <li>
                <ul>
                  <li>
                    <a href="/discovery-to-impact">
                      Discovery to Impact<svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 320 512"><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>
                  </a>
                  </li>
                  <li>
                    <a href="/name-image-likeness">
                      Name, Image, Likeness (NIL)<svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 320 512"><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>
                      
                    </a>
                  </li>
                  <li>
                    <a href="/fireside-chat">
                      Fireside Chat<svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 320 512"><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>
                  </a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="/burnt-orange-bash">
                  Burnt Orange Bash<svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 320 512"><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>
              </a>
              </li>
            </ul>
          </ul>
        </li>
        <li tabindex="0" class="group">
            <a class="group-hover:bg-burntorange-dark">
              UT SXSW Sessions
              <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
            </a>
            <ul>
                <p>
                  March 6 - 19, 2023
                </p>
                  <li>
                    <a href="/sessions-edu">
                      All UT SXSW EDU Sessions<svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 320 512"><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>
                  </a>
                  </li>
                  <li>
                    <a href="/sessions">
                      All UT SXSW Sessions<svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 320 512"><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>
                  </a>
                  </li>
              </ul>
          </li>
      </ul>
    </div>
  </nav>
</header>