---

---

<div class="container navbar bg-burntorange">
    <div class="flex-1">
        <a href="/" class="w-full lg:w-1/2"><img alt="UT at SXSW" class="w-100 py-5" src="/images/ut-brand-primary.svg" /></a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1 font-eighteeneightythree text-white">
     
        <li tabindex="0">
          <a class="text-md w-full cursor-pointer self-center whitespace-nowrap bg-burntorange py-3 px-4 uppercase text-white transition-colors hover:text-white hover:bg-burntorange-dark !rounded-none lg:text-lg">March 11 Event<svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
          </a>
          <ul class="bg-white !rounded-none">
            <li class="cursor-default bg-limestone-light p-3 uppercase text-charcoal">
              Saturday, March 11, 2023
            </li>
            <ul>
              <li>
                <a
                  class="pl-6 gap-0 text-burntorange transition-colors hover:bg-burntorange-dark hover:text-white !rounded-none"
                  href="/my-kutx"
                >
                  My KUTX Live<svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 320 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>
              </a>
              </li>
              <p class="pl-6 py-1 text-charcoal">UT Expert Panel Sessions:</p>
              <li class="cursor-default text-charcoal">
                <ul class="pl-0">
                  <li>
                    <a
                      class="pl-9 gap-0 text-burntorange transition-colors hover:bg-burntorange-dark hover:text-white !rounded-none"
                      href="/discovery-to-impact"
                    >
                      Discovery to Impact<svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 320 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>
                  </a>
                  </li>
                  <li>
                    <a
                      class="pl-9 gap-0 text-burntorange transition-colors hover:bg-burntorange-dark hover:text-white !rounded-none"
                      href="/name-image-likeness"
                    >
                      Name, Image, Likeness (NIL)<svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 320 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>
                      
                    </a>
                  </li>
                  <li>
                    <a
                      class="!rounded-none gap-0 pl-9 text-burntorange transition-colors hover:bg-burntorange-dark hover:text-white"
                      href="/fireside-chat"
                    >
                      Fireside Chat<svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 320 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>
                  </a>
                  </li>
                </ul>
              </li>
              <li>
                <a
                  class="!rounded-none gap-0 pl-6 text-burntorange transition-colors hover:bg-burntorange-dark hover:text-white"
                  href="/burnt-orange-bash"
                >
                  Burnt Orange Bash<svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 320 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>
              </a>
              </li>
            </ul>
          </ul>
        </li>
        <li tabindex="0">
            <a class="text-md w-full cursor-pointer self-center whitespace-nowrap bg-burntorange py-3 px-4 uppercase text-white transition-colors hover:text-white hover:no-underline hover:bg-burntorange-dark !rounded-none lg:text-lg">
              UT SXSW Sessions
              <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
            </a>
            <ul class="bg-white !rounded-none">
                <li class="cursor-default bg-limestone-light p-3 uppercase text-charcoal">
                  March 6—19, 2023
                </li>
                <ul>
                  <li>
                    <a
                      class="!rounded-none gap-0 text-burntorange transition-colors hover:bg-burntorange-dark hover:text-white"
                      href="/sessions-edu"
                    >
                      All UT SXSW EDU Sessions<svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 320 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>
                  </a>
                  </li>
                  <li>
                    <a
                      class="!rounded-none gap-0 text-burntorange transition-colors hover:bg-burntorange-dark hover:text-white"
                      href="/sessions"
                    >
                      All UT SXSW Sessions<svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 320 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>
                  </a>
                  </li>
                </ul>
              </ul>
          </li>
       
      </ul>
    </div>
  </div>