---
import { Icon } from "astro-icon"
const { startup, name, link, blurb } = Astro.props
---

<div class="pt-10 font-eighteeneightythree">
  <p class="pb-4 text-2xl text-ut-shade--s40">
    {startup}
  </p>
  <a href={link} target="_blank" rel="noreferrer" class="font-eighteeneightythreeblack text-4xl text-burntorange">
    {name}<Icon class="ml-1 mb-2 inline h-10 w-10 fill-current" name="mdi:open-in-new" />
  </a>
  <p class="pt-4 text-xl text-charcoal">
    {blurb}
  </p>
  <hr class="mt-10" />
</div>
