---
import { Icon } from "astro-icon"
---

<section class="bg-a bg-cover bg-center bg-no-repeat opacity-95">
  <div class="container md:grid md:w-4/5 md:grid-cols-12 md:py-12 lg:w-11/12">
    <div class="flex flex-col py-4 px-6 md:col-span-6">
      <h3 class="text-md text-center font-eighteeneightythree uppercase text-white">March 6—9, 2023</h3>
      <img src="../images/sxsw-sessions.svg" class="mb-12 mt-3 h-16 lg:mb-16" />
      <a href="/sessions-edu" class="w-full cursor-pointer self-center bg-white py-2 text-center font-eighteeneightythree text-sm uppercase text-burntorange transition-colors hover:border-burntorange-dark hover:bg-burntorange-dark hover:text-white hover:no-underline md:px-1 lg:w-4/5 lg:text-lg">
        See UT SXSW EDU Sessions<Icon class="mb-1 inline h-8 w-8 fill-current" name="mdi:chevron-right" />
      </a>
    </div>

    <div class="flex flex-col py-4 px-6 md:col-span-6">
      <h3 class="text-md text-center font-eighteeneightythree uppercase text-white">March 10—19, 2023</h3>
      <img src="../images/sxsw-sessions-edu.svg" class="mb-12 mt-3 h-16 lg:mb-16" />
      <a href="/sessions" class="w-full cursor-pointer self-center bg-white py-2 text-center font-eighteeneightythree text-sm uppercase text-burntorange transition-colors hover:border-burntorange-dark hover:bg-burntorange-dark hover:text-white hover:no-underline md:px-1 lg:w-4/5 lg:text-lg">
        See UT SXSW Sessions<Icon class="mb-1 inline h-8 w-8 fill-current" name="mdi:chevron-right" />
      </a>
    </div>
  </div>
</section>
